@charset "UTF-8";

/* テキストの自動拡大を無効化 */
body {
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

/* ページ全体の設定 */
body {
	margin: 0;
	font-family: 'Noto Sans JP', 'Roboto', sans-serif;
	color: #333333;
}
/* リンク */
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	opacity: 0.7;
}
h1 {
	font-size: 30px;
}
p {
	line-height: 1.7;
}
/* 画像 */
img {
	width: 100%;
	height: auto;
}
figure {
	margin: 0;
}

table {
	border-collapse: collapse;
}

th, td {
	border: solid 1px #cccccc;
	padding: 18px;
}

th {
	width: 4em;
	text-align: left;
	background-color: #135977;
	color: #ffffff;
}

td {
	background-color: #e8eef9;
}


/* 「ヘッダー」ブロック */
header {
	padding: 25px 15px;
	color: #00a05a;
	font-size: 36px;
	font-weight: bold;
	text-align: center;
}

/* ナビゲーションメニュー */
nav ul {
	list-style-type: none;
	padding: 0;
	color: #666666;
	font-size: 12px;
	display: flex;
	justify-content: center;
}
nav li:not(:last-child) {
	margin-right: 20px;
}

/* 「コンテンツ」ブロック */
.contents {
	background-color: #29abe2;
	padding: 40px 15px;
}
.container {
	
}
@media (min-width: 600px) {
	.container {
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
 }

/* トップページ： ヒーローイメージ */
.hero {
	background-image: url(img/tmg-asaka.jpg);
	background-size: cover;
	background-position: center;
	height: 400px;
	color: #ffffff;
	padding: 15px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.hero h1 {
	font-size: 30px;
	text-shadow: 0 0 5px #999999;
	text-align: center;
	width: 100%; /* IE11用の設定 */
}
/* .hero p {
	font-weight: bold;
	text-shadow: 0 0 10px #444444;
	margin-top: 0;
}

.hero a {
	border: solid 2px #ffffff;
	padding: 10px 40px;
	border-radius: 10px;
	background-color: rgba(41, 171, 226,0.7);
	margin-top: 10px;
} */

/* トップページ： 記事一覧 */
.toppost {
	padding: 15px;
}

.toppost div {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.toppost article {
	padding: 0;
	width: 48%;
	flex: none;
}

.toppost article:not(:nth-last-child(-n+2)) {
	margin-bottom: 12px;
}

.toppost h3 {
	margin: 0;
	font-size: 14px;
}








/* ==== PC版 ==== */
@media (min-width: 600px) {

/* PC版：コンテナ */
.container {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

/* PC版：「ヘッダー」ブロック内のコンテナ */
header .container {
	display: flex;
	justify-content: space-between;
}

/* PC版：記事 */
article {
	padding-left: 60px;
	padding-right: 60px;
}

h1 {
	font-size: 40px;
}

p {
	font-size: 18px;
}

/* PC版：トップページ： ヒーローイメージ */
.hero h1 {
	font-size: 72px;
}

/* PC版：トップページ： 記事一覧 */
.toppost article {
	width: 23%;
}

.toppost article:not(:nth-last-child(-n+2)) {
	margin-bottom: 0;
}

/* PC版：「お問い合わせ」ページ */
input[type="submit"] {
	width: 250px;
}

}


@media (min-width: 1025px) {
.container {
	max-width: 1100px;
}
.contents .container {
	display: flex;
	justify-content: space-between;
}
}



/* ===== PC版の設定ここまで ===== */


/* 「フッター」ブロック */
footer {
	background-color: #6ac4eb;
	padding: 25px 15px;
	color: #ffffff;
	font-size: 14px;
	text-align: center;
	font-family: 'Exo 2', sans-serif;
}
